{% extends 'security_base.html.twig' %}
{% block title %}
    Žádost o obnovení hesla odeslána
{% endblock %}
{% block content %}
    <div class="card card-outline card-primary">
        <div class="card-header text-center">
            <a href="{{ path('admin_login') }}" class="h1">Administrace</a>
            <p>{{ app_base_name }}</p>
        </div>
        <div class="card-body">
            <p class="login-box-msg">
                Pokud se Váš email nachází v naší databázi, byly Vám na email odeslány instrukce pro obnovu hesla.
            </p>

            <p class="mt-3 mb-1 text-center">
                <a href="{{ path('admin_login') }}" title="Přihlásit se">Přihlásit se</a>
            </p>
        </div>
        <!-- /.login-card-body -->
    </div>
{% endblock %}
