{% extends 'email_base.html.twig' %}
{% block mail_heading %}Resetování hesla{% endblock %}
{% block content %}
    <row class="content">
        <columns class="content__inner">
            <row>
                <columns>
                    <p>
                        Dobrý den,<br>
                        tuto zprávu jste obdržel, protože byla v rámci aplikace {{ app_base_name }} vytvořena žádost o obnovení Vašeho hesla.
                    </p>
                    <p>
                        Pro dokončení obnovení Vašeho hesla klikněte <a href="{{ link }}" target="_blank" style="color: #0d6efd;">zde</a>. Tento odkaz expiruje v {{ link_expiration|date('d. m. Y H:i:s') }}.
                    </p>
                </columns>
            </row>
        </columns>
    </row>
{% endblock %}
